:root {
    --black: #000000;
    --red: #e42f2f;
    --oragne: #f3994c;
    --white: #eaeff1;
    --blue: #89abe3;
    --purple: #6859f0;
    --background: #FFFFFF;
    --fs-88: 5.5rem;
    --fs-72: 4.5rem;
    --fs-48: 3rem;
    --fs-40: 2.5rem;
    --fs-32: 2rem;
    --fs-24: 1.5rem;
    --fs-18: 1.125rem;
    --container: 69.375rem;
    --transition: 250ms ease-in-out;
    --body-font:'DM Sans', sans-serif;
    --logo-font: 'Space Grotesk', sans-serif;
    --logo-font-2: 'Epilogue', sans-serif;
    --nav-height: 100px;
}

html {
    box-sizing: border-box;
    font-size: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: var(--body-font);
    background-color: var(--background);
    color: var(--black);
    font-size: var(--fs-18);
    line-height: 1.56; 
}

.change-font {
    font-family: var(--logo-font);
}

/* header */
.header {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-evenly;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 11;
    padding: 0px 50px;
    width: 100%;
    height: var(--nav-height);
    background-color: none;
    backdrop-filter: blur(10px);
    transition: var(--transition);
    filter: none !important;
    pointer-events: auto !important;
    user-select: auto !important;
}

.header-nav {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    counter-reset: item 0;
    z-index: 12;
}

.button-resume {
    text-decoration: none;
    color: var(--black);
    font-family: var(--logo-font);
    text-transform: uppercase;
}

a {
    transition: color var(--transition);
}

a:hover {
    fill: var(--blue);
    color: var(--blue);
}

h1 {
    margin-block-start: 0;
    margin-block-end: 0;
    font-size: 1.4rem;
    font-size: clamp(1.4rem, 0.5rem + 7.68vw, 2.7rem);
}

p {
    font-size: 1rem;
    font-size: clamp(1rem, 0.79rem + 0.89vw, 1.125rem);
    line-height: 1.5;
}

section {
    margin: 0px auto;
    padding: 100px 0px;
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.header-social svg {
    display: block;
    width: 20px; 
    height: 20px;
}

.header-social > svg > path {
    transition: fill var(--transition);
}

.header-social:hover > svg > path {
    fill: var(--purple);
}

.wrapper {
    width: calc(100% - 2rem);
    max-width: var(--container);
}

/* logo */
.logo {
    font-family: var(--logo-font);
    font-size: var(--fs-24);
    font-size: clamp(1.5rem, 1.02rem + 2.04vw, 1.7rem);
    line-height: 1;
    color: var(--black);
    text-decoration: none;
    flex: 1 0 100%;
}

/* social */
.side-socials {
    width: 40px;
    position: fixed;
    bottom: 300px;
    left: 40px;
    right: auto;
    z-index: 10;
}

.social-list {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.social-list::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: var(--black);
}

.social-icon {
    padding: 10px;
    display: list-item;
    text-align: -webkit-match-parent;
}

#main {
    margin: 0px auto;
    width: 100%;
    max-width: 1600px;
    min-height: 100vh;
    padding: 100px 150px;
}

/* hero */
.hero {
    max-width: 900px;
}

#hero-img {
    width: 230px;
    position: relative;
    left: 50%;
    translate: -50%;
    border-radius: 5%;
    filter: grayscale(90%);
    transition: filter var(--transition);
}

#hero-img:hover {
    filter: none;
}

.hero-wrapper {
    padding-bottom: 80px;
    border-bottom: 1px solid var(--black);
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 50px;
}

.hero-text {
    text-align: center;
}

.hero-desc {
    opacity: 100%;
}

.hero-headline {
    color: var(--blue);
}

.hero-headline > span{
    /*text-decoration: underline var(--purple); */
    
}

.hero-contact {
    font-size: 1rem;
    line-height: 1.625;
    letter-spacing: 2.29px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--black);
    text-decoration: none;
    background-image: linear-gradient(
        to right,
        var(--purple) 75%,
        var(--purple) 75%
    );
    background-position: 0 1.75rem;
    background-repeat: repeat-x;
    background-size: 8px 3px;
    display: inline-block;
    padding-bottom: 10px;
}

.hero-contact:hover {
    color: var(--blue);
}

/* footer */
.footer {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    min-height: 70px;
    padding: 15px;
    text-align: left;
}

.footer-wrapper {
    max-width: 900px;
}

.footer-big {
    font-size: var(--fs-48);
}

.footer-med {
    font-size: var(--fs-32);
}

/* 600px */
@media (min-width: 37.5em) {
    .wrapper {
        width: calc(100% - 3.75rem);
    }

    .header-nav {
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        gap: 20px;
    }
    
    .logo {
        flex: 1;
        margin-inline-end: auto;
    }

    #hero-img {
        width: 300px;
        position: relative;
        left: 0%;
        translate: 0%;
    }
    
    .hero-text {
        text-align: left;
    }
}